.logout-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logout-form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
